*{
    margin: 0;
    padding: 0;
}

header{
    /* height: 20vh; */
    background-color: gray;
    color: white;
}

.imgIndex{
    width: 3em;
    height: 3em;
    margin: 1em;
}

main{
    /* height: 50vh; */
    background-color: white;
}

aside{
    /* height: 10vh; */
    background-color: white;
}

footer{
    /* height: 20vh; */
    background-color: gray;
    color: white;
}

.divisionHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgGente{
    height: auto;
    width: 40em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.articleGente{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCalidad{
    height: auto;
    width: 45em;
    margin-top: 4em;
    margin-bottom: 2em;
}

.imgSeguridad{
    height: auto;
    width: 45em;
    margin-top: 4em;
    margin-bottom: 2em;
}

.imgGestion{
    height: auto;
    width: 40em; 
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.imgMtto{
    margin-top: 5em;
    height: auto;
    width: 50em; 
    margin-bottom: 6em;
}

.articleGestion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframe1{

    margin-bottom: 7em;
    margin-left: 0.5em;
    margin-top: 4em;
}



@media (max-width: 280px){
    /* main{
        height: 70vh;
    }
    .mainGestion{
        height: 60vh;
    }
    .mainGente{
        height: 60vh;
    } */
    .iframe1{
        width: 15em;
        height: 10em;
    }

}

@media (min-width:281px) and (max-width:320px){
    /* main{
        height: 70vh;
    }
    .mainGestion{
        height: 60vh;
    }
    .mainGente{
        height: 60vh;
    } */
    .iframe1{
        width: 15em;
        height: 10em;
        margin-top: 5em;
        margin-bottom: 5em;
        margin-left: 1em;
    }

}

@media (min-width:321px) and (max-width:480px){
    /* main{
        height: 70vh;
    }
    .mainGestion{
        height:90vh;
    }
    .mainSeguridad{
        height: 85vh;
    }
    .mainCalidad{
        height: 85vh;
    }
    .mainGente{
        height: 100vh;
    } */
    .iframe1{
        width: 20em;
        height: 15em;
        margin-bottom: 3em;
    }
   
}

@media (min-width:481px) and (max-width:767px){
    /* main{
        height: 70vh;
    }
    .mainGestion{
        height:90vh;
    }
    .mainSeguridad{
        height: 85vh;
    }
    .mainCalidad{
        height: 85vh;
    }
    .mainGente{
        height: 100vh;
    } */
   
}

@media (min-width:768px) and (max-width:990px){
    /* main{
        height: 90vh;
    }
    .mainSeguridad{
        height: 70vh;
    }
    .mainCalidad{
        height: 80vh;
    }
    .mainGente{
        height: 90vh;
    } */

}

@media (min-width: 991px) and (max-width:1024px){
    /* main{
        height: 100vh;
    }
    .mainGestion{
        height:90vh;
    }
    .mainSeguridad{
        height: 80vh;
    }
    .mainCalidad{
        height: 80vh;
    }
    .mainGente{
        height: 85vh;
    } */
    .inframeVideo{
        margin-left: 10em;
    }
}

@media (min-width: 1025px) and (max-width: 1199px){
    /* main{
        height: 100vh;
    }
    .mainGestion{
        height:85vh;
    }
    .mainSeguridad{
        height: 80vh;
    }
    .mainCalidad{
        height: 80vh;
    }
    .mainGente{
        height: 95vh;
    } */
    .inframeVideo{
        margin-left: 15em;
    }
}

@media (min-width: 1200px){
    /* main{
        height: 60vh;
    }
    .mainGestion{
        height:85vh;
    }
    .mainGente{
        height:95vh;
    }
    .mainSeguridad{
        height: 85vh;
    }
    .mainCalidad{
        height: 85vh;
    }
    .mainMtto{
        height: 85vh;
    } */
    .inframeVideo{
        margin-left: 15em;
    }
    
}




